---
import Drawer from "../ui/drawer/Drawer.astro";
import type { CoachProfileConfig } from "../../types";

interface Props {
  profile: CoachProfileConfig;
}

const { profile } = Astro.props;
const { name, img, description, title } = profile;
const titleLabel = title === "head" ? "Head Coach" : "Coach";
---

<Drawer id={`${name.split(" ").join("-")}-drawer`} }>
  <div class="flex flex-col gap-2 justify-end p-6 text-left">
    <img src={img} width="340" alt={name} />
    <div>
      <p class="text-3xl font-semibold">{name}</p>
      <p class="text-2xl font-light text-flick-yellow">{titleLabel}</p>
    </div>
    {
      description.map((desc, i) => (
        <p class={i === 0 ? "text-lg font-semibold" : ""}>{desc}</p>
      ))
    }
  </div>
</Drawer>
